{% extends 'base.html' %}

{% block page_title %}
    Site is under Maintenance
{% endblock%}

{% block content %}
    <div class="row">
       <div class="col-12">
          <!-- Default box -->
          <div class="card">
             <div class="card-header">
                <h3 class="card-title">Code Snippets for JimShapedCoding's courses are available from the link below</h3>
                <div class="card-tools">
                   <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                   <i class="fas fa-minus"></i>
                   </button>
                   <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                   <i class="fas fa-times"></i>
                   </button>
                </div>
             </div>
             <div class="card-body">
                 <button>
                     <i class="fas fa-code"></i>
                     <a href="https://github.com/jimdevops19/codesnippets">Code Snippets GitHub Link</a>
                 </button>
             </div>
             <!-- /.card-body -->
             <!-- /.card-footer-->
          </div>
          <!-- /.card -->
       </div>
    </div>
{% endblock %}